<!-- Cart Modal -->
<div class="modal fade" id="filters-modal" data-category-id="<%= category._id %>" tabindex="-1"
  aria-labelledby="filters-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="filters-label">Filter Products</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- content -->
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingBrand">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBrand"
                aria-expanded="true" aria-controls="collapseBrand">
                Brand
              </button>
            </h2>
            <div id="collapseBrand" class="accordion-collapse collapse show" aria-labelledby="headingBrand"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <% brands.forEach(brand => { %>
                <div class="form-check form-switch">
                  <input class="filter form-check-input filter-brand" type="checkbox" role="switch"
                    id="<%= brand.name %>">
                  <label class="form-check-label" for="<%= brand.name %>"><%= brand.name %></label>
                </div>
                <% }) %>
              </div>

            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingGender">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseGender" aria-expanded="false" aria-controls="collapseGender">
                Gender
              </button>
            </h2>
            <div id="collapseGender" class="accordion-collapse collapse" aria-labelledby="headingGender"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="form-check form-switch">
                  <input class="filter filter-gender form-check-input" type="checkbox" role="switch" id="Men">
                  <label class="form-check-label" for="Men">Men</label>
                </div>
                <div class="form-check form-switch">
                  <input class="filter filter-gender form-check-input" type="checkbox" role="switch" id="Women">
                  <label class="form-check-label" for="Women">Women</label>
                </div>
                <div class="form-check form-switch">
                  <input class="filter filter-gender form-check-input" type="checkbox" role="switch" id="Kids">
                  <label class="form-check-label" for="Kids">Kids</label>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSize">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSize" aria-expanded="false" aria-controls="collapseSize">
                Size
              </button>
            </h2>
            <div id="collapseSize" class="accordion-collapse collapse" aria-labelledby="headingSize"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="accordion-body">
                  <div class="form-check form-switch">
                    <input class="filter form-check-input filter-size" type="checkbox" role="switch" id="36">
                    <label class="form-check-label" for="36">36</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="filter form-check-input filter-size" type="checkbox" role="switch" id="37">
                    <label class="form-check-label" for="37">37</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="filter form-check-input filter-size" type="checkbox" role="switch" id="38">
                    <label class="form-check-label" for="38">38</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="filter form-check-input filter-size" type="checkbox" role="switch" id="39">
                    <label class="form-check-label" for="39">39</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="filter form-check-input filter-size" type="checkbox" role="switch" id="40">
                    <label class="form-check-label" for="40">40</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="filter form-check-input filter-size" type="checkbox" role="switch" id="41">
                    <label class="form-check-label" for="41">41</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="filter form-check-input filter-size" type="checkbox" role="switch" id="42">
                    <label class="form-check-label" for="42">42</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="filter form-check-input filter-size" type="checkbox" role="switch" id="43">
                    <label class="form-check-label" for="43">43</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="filter form-check-input filter-size" type="checkbox" role="switch" id="44">
                    <label class="form-check-label" for="44">44</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="filter form-check-input filter-size" type="checkbox" role="switch" id="45">
                    <label class="form-check-label" for="45">45</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="filter form-check-input filter-size" type="checkbox" role="switch" id="46">
                    <label class="form-check-label" for="46">46</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="filter form-check-input filter-size" type="checkbox" role="switch" id="47">
                    <label class="form-check-label" for="47">47</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="filter form-check-input filter-size" type="checkbox" role="switch" id="48">
                    <label class="form-check-label" for="48">48</label>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingPrice">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsePrice" aria-expanded="false" aria-controls="collapsePrice">
                Price
              </button>
            </h2>
            <div id="collapsePrice" class="accordion-collapse collapse" aria-labelledby="headingPrice"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <label for="priceRange" class="form-label">Price Range</label>
                <input type="range" class="form-range filter-price" id="priceRange" min="0" max="5000" step="10"
                  oninput="document.getElementById('currentPrice').innerText = this.value">
                <div class="d-flex justify-content-between">
                  <span id="minPrice">0</span>
                  <span id="currentPrice">2500</span>
                  <span id="maxPrice">5000</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <span class="me-auto hidden fs-5"><strong>Your cart is empty..</strong></span> -->
        <button type="button" class="btn btn-outline-primary" id="reset-filters-btn">Reset Filters</button>

        <button type="button" id="apply-filters-btn" class="btn btn-primary flex-grow-1">Apply Filters</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>