.product-image {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product-image {
  aspect-ratio: 1;
}

.modal-body {
  flex: none !important;
}
.product-image {
  width: 100%;
  object-fit: cover;
}

.size-button {
  border: 1px solid #ddd;
  margin: 0 5px 5px 0;
}
